<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="pageObject.Reports"/>
<listener class-name="pageObject.TestNgReports"/>
</listeners>

  <test thread-count="5" name="validateheading">
    <classes>
      <class name="Academy.E2EProject.validateHead"/>
      </classes>
      </test>
   
     <test thread-count="5" name="login">
    <classes>
      <class name="Academy.E2EProject.homePage"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
